<script type="text/javascript" src="https://tajs.qq.com/stats?sId=48767822" charset="UTF-8"></script>

<!--

%%%%%%%$$$$$$$$$$$$$$$$$$$$$$&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@%
%%%%%%%$$$$$$$$$$$$$$$$$$$$$$&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@%
%%%%%%%$$$$$$$$$$$$$$$$$$$$$$$&&&&&&&&&&&&&&&&&@@@@@@@@@@@@%
%%%%%%%$$$$$$$$$$$$$$$$$$$$$$$&&&&&&&&&&&&&&&&&@@@@@@@@@@@@%
%%%%%%%$$$$$$$$$$$$$$$$$$$$$$$&&&&&&&&&&&&&&&&@@@@@@@@@@@@@%
%%%%%%%$$$$$$$$$$$$$$$$$$$$$$&&&&&&&&$%|||||||||%$&@@@@@@@@%
%%%%%%$$$$$$$$$$$$%|;!%$$$$$$&&&&$|!||||||||||||||%$@@@@@@@%
%%%%%%$$$$$$$$$$!::;;;;|$$$$$&&$!;|||||||||||||||$&@@@@@@@@%
%%%%$$$$$$$$$$%;':;;;;;|$&&&&&|;|||||||||||||||$&@@@@@@@@@@%
%%$$$$$$$$$$$$;':;;;;;;!$&&&$!;!!!!!!||||||||%&@@@@@@@@@@@@%
$$$$$$$$$$$$$|:';;;;;::;%&&%;:;;!!!!!||||||%&@@@@@@@@@@@@@@%
$$$$$$$$$$$$$|''''''''::%&%;:;;;;!!!!||||%&@@@@@@@@@@@@@@@@%
$$$$$$$$$$$$$|:`''''':::||::;;;;!!!!!||%$@@@@@@@@@@@@@@@@@@%
$$$$$$$$$$$$$$;`''''':::::::;;;;!!|||%$@@@@@@@@@@@@@@@@@@@@%
$$$$$$$$$$$$$$|:''''':::::;!|||||||%$&@@@@@@@@@@@@@@@@@@@@@%
$$$$$$$$$$$$$$$!''::::::!|||||||||$&@@@@@@&&@@@@@@@@@@@@@@@%
$$$$$$$$$$$$$$$%;:;;:;!|||||||||$&@@@@@&&&&&@@@@@@@@@@@@@@@%
$$$$$$$$$$$$$$$$!:::!|||||||||%&@@@@@&&&&&&&@@@@@@@@@@@@@@@%
$$$$$$$$$$$$$$$$%!;!||||||||%&@@@@&&&&&&&&@@@@@@@@@@@@@@@@@%
$$$$$$$$$$$$$$$$%!!|||||||%&@@@@&&&&&&&&&&&@@@@@@@@@@@@@@@@%
$$$$$$$$$$$$&&$|!|||||||%%&@@&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@%
$$$$$$$$$&&&&$|!||||||%|||$@&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@%
$$$$$&&&&&&&&$||||||%%||!!%@&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@%
&&&&&&&&&&&&&&$||||%||!!;;%@@&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@%
&&&&&&&&&&&&&&&$%|||%|!!;!$@&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@%
&&&&&&&&&&&&&&&&&$%%%%%$&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@%
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@%
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@%
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@%
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@% 


-->